---
layout: page
title : 精英风采
header : Post Archive
group: navigation
---
{% include JB/setup %}

<div class="container photoWall" >
    <div class="row">
        <h3>{{ page.title }}</h3>
    </div>
    <div class="row">
        {% for photo in site.data.photoWall %}
        <div class="col-lg-3">
            <a href="javacript:void(0)">
                <p>{{ photo.des }}</p>
                <img src="{{ ASSET_PATH }}{{ photo.url }}" alt="{{ photo.des }}"/>
            </a>
        </div>
        {% endfor %}
    </div>
</div>