---
layout: page
title : 险种介绍
header : Post Archive
group: navigation
---
{% include JB/setup %}

<div class="cotainer insurance">
    <div class="row">
        <div class="col-lg-9">

        </div>
        <div class="col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                {% for insuranceType in site.data.insuranceType %}
                <li><a href="{{ insuranceType.link }}">{{ insuranceType.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>