---
layout: page
title : 险种介绍
header : Post Archive
group: navigation
---
{% include JB/setup %}

<div class="container insurance">
    <div class="row">
        <div class="col-lg-9">
            {% for insuranceType in site.data.insuranceType %}
            <div class="panel panel-success" id="{{ insuranceType.targetId }}">
                <div class="panel-heading">
                    <h3 class="panel-title" >{{ insuranceType.title }}</h3>
                </div>
                <div class="panel-body">
                    {{ insuranceType.brief }}
                </div>


                <div class="list-group">
                {% for insurance in site.data.insurance %}
                {% if insuranceType.title == insurance.type%}
                    <a href="#" class="list-group-item ">
                        <h4 class="list-group-item-heading">{{ insurance.title }}</h4>
                        <p class="list-group-item-text">{{ insurance.brief }}</p>
                    </a>

                {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-lg-3">
            <ul class="list-group" style="width:200px;margin:0px auto"  data-spy="affix" data-offset-top="60">
                {% for insuranceType in site.data.insuranceType %}
                <li class="list-group-item" >
                    <a href="#{{ insuranceType.targetId }}">{{ insuranceType.title }}</a>
                    <span class="badge badge-info">{{ insuranceType.size }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>